<!DOCTYPE html>
<html>
    
    <body>
        <form>
            <input name ="login">
            <input name="password">
            <button href="/auth/login" type="submit">send</button>
        </form>

    </body>
</html>