<!doctype html>
<html>
    <body>
        <form style="text-align:center" id="form">
            <label for="Login">Login</label><br>
            <input name="login" type="string" id="Login"><br>
            <label for="password">password</label><br>
            <input name="password" type="password" id="password"><br>
            <button type="submit">Log in</button>
            <a href ="/register">registration</a>
        </form>
    </body>
</html>