<!doctype html>
<html>
    <body>
        <form style="text-align:center" id="form">
            <label for="firstname">FirstName</label><br>
            <input type="text" id="firstname" name="firstname"><br>
            <label for="secondname">SecondName</label><br>
            <input type="text" id="secondname" name="secondname"><br>
            <label for="Login">Login</label><br>
            <input name="login" type="string" id="Login"><br>
            <label for="password">password</label><br>
            <input name="password" type="password" id="password"><br>
            <button type="submit">register</button>
            <a href ='/'>back</a>
        </form>
    </body>
</html>